DEV_MODE=false
DISCORD_APPLICATION_ID=? # Discord Application ID
DISCORD_BOT_TOKEN=? # Discord Bot Token
SUBMISSION_CHANNEL_NAME=? # Anonymous submissions channel name
CALL_IN_HOSTS_CHANNEL_NAME=? # Private call-in hosts channel name
CALL_IN_HOST_ROLE_NAMES=? # Comma-separated call-in host role names
MANAGER_ROLE_NAMES= # Optional comma-separated manager role names
